body    { 
    border: 1px solid black;
    padding: 7px;
}

table, th, td  {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

input  {
    width: 16%;
}

#submit   {
    margin-left: 10px;
    position: fixed;
}

#delete-button  {
    margin: auto;
    display: block;
    font-weight: bold;
    border-radius: 6px;
}

#delete-button:hover  {
    background-color: red;
}

td  {
    width: 16%;
}

#employee:hover {
    background-color: gainsboro;
}

#monthly-salary {
    position: static;
    padding-top: 10px;
    text-align: right;
}