body    { 
    border: 1px solid black;
    padding: 7px;
}

h1  {
    text-align: center;
    background-color: #ac6748d5;
    margin: 0%;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 3.0em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2  {
    
}

table, th, td  {
    width: 100%;
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}

input  {
    width: 16%;
}

#submit   {
    margin-left: 10px;
    position: fixed;
}

#word-Employees   {
    margin-top: 50px;
    font-size: 1.5em;
    font-weight: bold;
}

#delete-button  {
    margin: auto;
    display: block;
    font-weight: bold;
    border-radius: 6px;
}

#delete-button:hover  {
    background-color: red;
}

td  {
    width: 16%;
}

#employee:hover {
    background-color: gainsboro;
}

#monthly-salary {
    position: static;
    padding-top: 10px;
    text-align: right;
}